extends layout 

block layout-content
 .background 
   img.image(src="images/pngtree-a-man-explains-list-of-rule-guidelines-png-image_6212794.png")
   .rule-set 
      p.sentence 
         strong 1. 
         | Users will select five players and face off against other players 
      p.sentence 
         strong 2.
         |  The five players must be one of each position:
      ul.list 
         li Point guard
         li Shooting guard
         li Small forward
         li Power forward
         li Center
      p.sentence 
         strong  3.
         |  The winner will be decided by this math equation 
         strong (total points + total assist + total rebound + total steal + total block) that they accumalated over the 2023 season.
         |  The five players you choose will be added together whatever team has the higher number advances or wins the tournament.
      p.sentence 
         strong 4. 
         |  There must be an even amount of users playing at the same time.
      p.sentence 
         strong 5.
         |  Have fun and see who is the best NBA GM amongst your friend! 